{{>partials/header}}

<h1>Qual o seu nome</h1>
<form method='GET'>
    <input type="text" name="nome" placeholder="Digite seu nome" /><br/>
    <input type="submit" value="Enviar" />
</form>

<hr/>

{{#nome}}
<hr/>
    Opa {{nome}}, tudo bem? Você tem {{idade}} anos.
{{/nome}}


{{>partials/footer}}